          
          <div class="education">
            <h2>Education</h2>
            {% if site.education  -%} 
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign news = site.education | reverse -%} 
              {% for item in news limit%} 
                <tr>
                  <table class="table table-borderless"> 
                    <tr> 
                      <td> <div class="education-insti"> {{ item.institution}}</div></td>
                      <td>{{item.location}}</td>
                    </tr>
                    <tr> 
                      <td>{{ item.degree}} in {{item.major}}</td>
                      <td>{{item.from}} - {{item.to}}</td>
                    </tr>
                    <tr>
                      <td>
                        {% if item.cpi  -%} 
                        CPI: {{item.cpi}}
                      {%- else -%}
                        Percentage: {{item.percentage}} %
                        {%- endif %}
                      </td>
                    </tr>
                  </table>
                  <div class="education-break"></div>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div>
