---
layout: single
title: Blog
permalink: /blog/
author_profile: true
---

<div class="blog-index">
  {% for section in site.data.blog_sections %}
    {% assign section_posts = site.posts | where: "section", section.key %}
    {% if section_posts.size > 0 %}
      <section id="{{ section.key }}" class="blog-section">
        <h2>{{ section.title }}</h2>

        <ol class="blog-post-list">
          {% for post in section_posts %}
            <li>
              <article>
                {% if post.date %}
                  <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
                {% endif %}
                <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
              </article>
            </li>
          {% endfor %}
        </ol>
      </section>
    {% endif %}
  {% endfor %}
</div>
